@import '../settings.scss';

.cookies_container {
    background-color: rgba(90, 90, 90, 0.9);    ;
    color: $color-white;
    height: 40px;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 46px;
    z-index: 1;
    span {
        padding: 0 10px;
    }
    .btn_container {
        button {
            margin: 0 3px;
            border-radius: 6px;
            padding: 4px 8px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            border: 0;
        }
    }
}


@include tablet {  
  .cookies_container {
    height: 100px;
       span {
            padding: 0 10px;
            flex: 0 0 70%;
        }
    } 
}

@include mobile {
    .cookies_container {
        height: 100px;
        flex-direction: column;
        bottom: 62px;
        span {
            text-align: left;
            padding: 10px;
        }
        .btn_container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            button {
                padding: 4px 12px;
                margin-bottom: 4px;
            }
        }
    }
}