header {
    border: 2px solid red;
    height: 100px;
    display: flex;
    .logo {
        flex: 1;
    }
    nav {
        flex: 5;
        ul {
            display: flex;
            list-style-type: none;
            justify-content: end;
            align-items: center;
            border: 1px solid red;
            height: 100%;
            margin: 0;
            padding: 0;
            li a {
                text-decoration: none;
                color: black;
                padding: 0 1rem;
            }
        }
    }
}