@import '../settings.scss';

header {
    height: 100px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $dark-gray;
    color: $light-gray;
    .logo {
        flex: 1;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 20px;
        img {
            height: 80px;
            width: 80px;
        }
    }
    nav {
        flex: 5;
        font-size: 24px;
        ul {
            display: flex;
            list-style-type: none;
            justify-content: end;
            align-items: center;
            height: 100%;
            margin: 0;
            padding: 0;
            li a {
                text-decoration: none;
                color: black;
                color: white;
                padding: 0 1.5rem;
            }
        }
    }
}