@import '../settings.scss';


.offer_container {
    height: 100vh;
    background-image: url('../../public/office.jpg');
    background-attachment: fixed;

    .offer_content {
        background-color: $light-bg;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            font-size: 42px;
            width: 80%;     
            list-style-type: square;       
            color: $color-white;
        }
    }
}