@import '../settings.scss';

.footer_container {
    height: 46px;
    background-color: $dark-gray;
    position: sticky;
    bottom: 0;
    p {
        color: $color-white;
        font-size: 13px;
        padding: 5px;
    }
}